#cardviewer {
  padding-top: 30px;
  padding-right: 120px;
  float: right;
}

#box {
  text-align: center;
  width: 900px;
  height: auto;
  padding: 10px;
  margin: auto;
  border: 1px solid #ccc;
  overflow-y: auto;
  box-shadow: 5px 10px 18px black;
  font-family: Palatino, URW Palladio L, serif;
  background-color: white;
}

#title {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  text-shadow: 2px 2px 9px #2c85d0;
  color: black;
  font-family: Stencil Std, fantasy;
}

body {
  background-color: #27661a;
}

table, th, td {
  border: 2px solid;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
